:root {
    --primary-color: #514bee;
    --secondary-color: #f4511e;
    --tertiary-color: #4caf50;
    --success-color: #3dbd41;
    --info-color: #2196f3;
    --warning-color: #ffc107;
    --error-color: #e62b1e;
    --surface-color: #f8f8ff;
    --neutral-color: #181818;
    --pastel-green-color: #83be00;
    --pastel-blue-color: #59b9ff;
    --pastel-cyan-color: #00e1d7;
    --pastel-purple-color: #8d59ff;
    --pastel-gold-color: #9c7808;
    --pastel-red-color: #ff5c50;
    --scrollbar-color: #eee;
    --scrollbar-bg-color: #dcccff;
}
